.cart-title {
    text-align: center;
    color: #262b2c;
    font-size: 4.6vw;
    font-weight: 500;
    margin: 0;
}

.cart-items-pc {
    text-align: left;
    width: 68%;
    margin: 0 auto;
    border-spacing: 0;
    border: 1px solid #dddddd;
    border-bottom: 0;
}

.cart-items-pc>thead {
    color: #979a9b;
    background-color: #f1f1ef;
    height: 60px;
}

th,
td {
    border-bottom: 1px solid #dddddd;
    font-size: 18px;
    font-weight: 500;
}

.cart-prod-img {
    width: 135px;
}

.cart-prod-img>div {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-prod-img>div>img {
    width: 120px;
    padding: 15px;
}

.cart-prod-name {
    color: #6e7051;
}

.cart-prod-price,
.cart-prod-quantity,
.cart-prod-subtotal {
    color: #979a9b;
}

.cart-footer {
    width: 68%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.cart-total {
    width: 68%;
    display: flex;
    justify-content: space-around;
    background-color: #f1f1ef;
    height: 60px;
    border: 1px solid #dddddd;
}

.cart-total>p {
    color: #6e7051;
}

.checkout-btn {
    background-color: #6e7051;
    color: #fff;
    margin: 0;
    padding: 5px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.checkout-btn:hover {
    background-color: #262b2c;
    color: #fff;
}

.cart-items-mob,
.cart-item-mob {
    display: none;
}

.cart-item-mob>.cart-prod-img {
    width: calc(100% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    margin-top: 20px;
    border: 1px solid #dddddd;
}

.cart-item-mob>.cart-prod-img>img {
    width: 100px;
    padding: 5px;
}

.cart-item-mob>.cart-prod-item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: auto 15px;
    border: 1px solid #dddddd;
    border-top: 0;
}

.cart-item-mob>.cart-prod-item>p {
    margin: 0;
}

.cart-item-mob>.cart-prod-name>p {
    color: #6e7051;
}

.cart-item-mob>.cart-prod-name::before {
    content: "Product : ";
    font-weight: 600;
    color: #979a9b;
}

.cart-item-mob>.cart-prod-price::before {
    content: "Price : ";
    font-weight: 600;
    color: #979a9b;
}

.cart-item-mob>.cart-prod-quantity::before {
    content: "Quantity : ";
    font-weight: 600;
    color: #979a9b;
}

.cart-item-mob>.cart-prod-subtotal::before {
    content: "Sub Total : ";
    font-weight: 600;
    color: #979a9b;
}

.cart-empty-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    color: #262b2c;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .cart-title {
        font-size: 10vw;
    }

    .cart-items-pc,
    .cart-item-pc {
        display: none;
    }

    .cart-items-mob,
    .cart-item-mob {
        display: contents;
    }

    .cart-footer {
        flex-direction: column;
        width: 68%;
        gap: 10px;
    }

    .cart-footer > * {
        width: 100%;
    }

    .cart-empty-div > svg {
        width: 50px;
        height: 50px;
    }

    .cart-empty-div > h1 {
        font-size: 20px;
    }
}