/* INTRO SECTION */
.intro-img {
    background: url("../assets/images/intro-img.jpg");
    background-color: rgba(0, 0, 0, 0.212);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    height: 800px;
}

.intro-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}

.intro-title {
    margin: 0;
    font-size: 5vw;
    font-weight: 500;
}

.intro-text {
    margin: 0;
    text-align: center;
    font-size: 1.6vw;
    font-weight: 300;
}

.intro-btns {
    margin: 35px;
    display: flex;
}

.btn {
    width: 200px;
    padding: 18px 30px;
    background-color: white;
    color: black;
    text-align: center;
    letter-spacing: 1px;
}

.btn:hover {
    background-color: #262b2c;
    color: white;
}

@media screen and (max-width: 768px) {
    .intro-img {
        max-height: 500px;
    }

    .intro-title {
        text-align: center;
        font-size: 12vw;
        margin-bottom: 1vh;
    }

    .intro-text {
        display: none;
    }

    .intro-btns {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .btn {
        width: auto;
        padding: 5px;
        font-size: 4vw;
    }
}

/* ABOUT SECTION */
.about-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 7vw; */
    margin: 100px 50px;
}

.about-section img {
    width: 45%;
    max-height: 640px;
    object-fit: cover;
}

.about-title {
    font-weight: 500;
    width: 35vw;
    font-size: 2.7vw;
}

.about-text {
    color: #979a9b;
    width: 35vw;
    font-size: 1.15vw;
    margin-bottom: 50px;
}

.about-info a {
    margin: 0;
    color: black;
    letter-spacing: 1px;
    text-decoration: underline;
    text-underline-offset: 2.5px;
    text-decoration-color: #979a9b;
    transition: 0.3s ease;
}
.about-info a:hover {
    text-decoration-color: black;
}

@media screen and (max-width: 768px) {
    .about-section {
        flex-direction: column;
        margin: 50px 0;
    }

    .about-section img {
        width: 100%;
        height: 43vh;
    }

    .about-info {
        text-align: center;
    }

    .about-title {
        font-size: 6vw;
        width: auto;
    }
    
    .about-text {
        font-size: 3.5vw;
        width: auto;
    }
}

/* BESTSELLER SECTION */
.best-seller {
    background-color: #F1F1EF;
}

.best-seller > h1 {
    padding: 30px 120px 0;
    font-size: 30px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .best-seller > h1 {
        padding: 10px 0 0;
        text-align: center;
        font-size: 25px;
    }
}

/* GENDER SECTION */
.gender-section {
    margin: 40px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;
}

.Gmen {
    background: url("../assets/images/men-gender.jpg");
}

.Gwomen {
    background: url("../assets/images/women-gender.jpg");
}

.gender {
    background-color: rgba(0, 0, 0, 0.212);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gender > h1 {
    margin-top: 0;
    font-size: 40px;
    font-weight: 500;
}

.gender > a {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    width: fit-content;
    padding: 14px 28px;
    font-weight: 600;
    letter-spacing: 2px;
}

.gender > a:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width: 768px) {
    .gender-section {
        flex-direction: column;
        margin: 40px 0;
        gap: 0;
    }

    .gender {
        width: 100%;
        height: auto;
        padding: 30px 0;
    }
}