header {
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 26px;
}

a {
    text-decoration: none;
    color: #979a9b;
    margin: 0 14px;
    font-weight: 500;
    transition: 0.5s ease;
}

a:hover,
.active-link {
    color: black;
}

header .site-logo {
    color: black;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
}

.left {
    margin-right: auto;
}

/* HAMBURGER MENU */
.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin: 0 14px;
    cursor: pointer;
}

.toggle-button .bar {
    width: 20px;
    height: 5px;
    background-color: #979a9b;
    border-radius: 2px;
    transition: 0.5s ease;
}
.toggle-button:hover .bar {
    background-color: black;
}

.ham-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.5s ease;
}

.display-flex {
    display: flex;
}

.ham-menu a {
    padding: 5px 0;
}

@media screen and (max-width: 768px) {
    header {
        padding: 0 6px;
    }

    .left, #about {
        display: none;
    }

    .toggle-button {
        display: flex;
    }

    .site-logo {
        margin-right: auto;
    }
}